%% -*- erlang -*-
{erl_opts, [debug_info]}.
{require_otp_vsn, "R15"}.
{deps, [
	{bigwig,   ".*",        {git, "https://github.com/haitaoyao/bigwig.git", {branch, "master"}}}
	%%{log4erl,   ".*",        {git, "https://github.com/ahmednawras/log4erl.git", {branch, "master"}}}
	]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{sub_dirs, ["apps/elogserver", "rel"]}.
